.root {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    font-weight: 900;
    font-size: 34px;
    margin-bottom: var(--mantine-spacing-md);
    font-family:
        Greycliff CF,
        var(--mantine-font-family);

}